html,body {
    font-family: 'Lato';
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
body{
    padding-top: 50px;
}

.fa-btn {
    margin-right: 6px;
}

.navbar-c2l{
    background-color: #28975e;
    border-radius: 0px !important;
}
.navbar-c2l a{
    color: floralwhite;
}
.nav>li>a:hover{
    background-color: #1a643e; !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #1a643e; !important;
    border-color: #1a643e; !important;
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}