html,body {
    font-family: 'Lato';
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
body{
    padding-top: 50px;
}

.fa-btn {
    margin-right: 6px;
}

.navbar-c2l{
    background-color: #28975e;
    border-radius: 0px !important;

}
.navbar-c2l a{
    color: floralwhite;
}
.nav>li>a:hover{
    background-color: rgba(0, 0, 0, 0.35);
!important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(0, 0, 0, 0.35);
!important;
    border-color: #646363;
!important;
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.dropdown-menu.padded li {
    padding: 5px 0px 5px 0px;
}

.placeholder {
    text-align: center;
    color: gray;
    font-size: xx-large;
    font-weight: 300;
    padding: 70px 0 60px 0;
    background-color: rgba(191, 191, 191, 0.11);
    flex: 1 0 auto;
}

.placeholder p {
    max-width: 100%;
    text-wrap: normal;
    text-align: center;
}

.relative {
    position: relative;
}