html,body {
    font-family: 'Lato';
    height: 100%;
    width: 100%;
    background-color: rgba(45, 234, 43, 0.09);
}
body{
    padding-top: 50px;
}

.fa-btn {
    margin-right: 6px;
}

.navbar-c2l{
    background-color: #28975e;
    border-radius: 0px !important;
}
.navbar-c2l a{
    color: floralwhite;
}
.nav>li>a:hover{
    background-color: #1a643e; !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #1a643e; !important;
    border-color: #1a643e; !important;
}