.floater{
    position:fixed;
    width:100%;
    bottom:0;
    background-color: #efac0b;
    padding:10px;

    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

}
.floater p{
    font-size: medium;
}
.map-container{
    height: 100%;
    width:100%;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
    overflow: hidden;
    position: relative;

}

.iframe-wrapper {

    position: relative;
    height: 100%;
}

.wrapper-cover {
    background-color: rgba(0, 0, 0, 0.78);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.wrapper-cover p {
    color: #ffffff;
    font-size: xx-large;
    font-weight: 400;
    padding: 15px;
    margin-top: 12px;
    border: thin solid grey;

    cursor: pointer;

    transition: box-shadow 0.2s;
}

.wrapper-cover p:hover {
    box-shadow: 0px 1.5px 8px rgba(255, 255, 255, 0.62);
}

.resizer {
    display: none;
    border-bottom: 2px;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: transparent;

    width: 100%;
    position: fixed;
    bottom: 0;

}

.resizer p {
    color: #ffffff;
    font-size: medium;
    font-weight: 300;
    padding: 12px;
    background-color: rgba(237, 31, 33, 0.77);
    border: thin solid #c91a1c;
    margin: 0;
    cursor: pointer;

    box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.62);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    transition: box-shadow 0.2s;
}

.resizer:hover {
    box-shadow: 0px 1.5px 8px rgba(255, 255, 255, 0.9);
}

.resizer i:hover {
    color: #003eff;
    cursor: pointer;

}
.sidebar{
    background-color: rgba(239, 172, 11, 0.65);
    margin:0;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    height: inherit;
}
.sidebar-left{
    position: absolute;
    top:50px;
    right:40px;
}

.sidebar-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex: 1 1 auto;
    margin: 5px;
}
.sidebar-item img{
    border-radius: 90px;
    width: 40px;
    height: 40px;

}
.sidebar-item p.title{
    font-weight: bold;
    margin-bottom: 0;
}
.sidebar-item p.subtitle{
    font-size: 0.75em;
    font-style: italic;
}


::-webkit-scrollbar{
    display: none;
}
.revenue-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}
.revenue-container > .heading{

}
.revenue-overview{
    background-color: rgba(232, 232, 232, 0.65);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.overview-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:20px;

    flex: 1 0 auto;
}
.overview-item *{
    margin: 2px;
    color: #ffffff;
}
.overview-item h1{
    font-weight: 200;
}


.revenue-breakdown, .revenue-summary{
    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 40px;

}
.summary-section-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex: 1 1 70%;
}
.summary-section-row > .summary-section{
    flex: 1 0 auto;
}
.summary-section-row > .summary-section:first-child{
    flex:1 0 70%;
}
.breakdown-section, .summary-section{
    flex: 1 0 auto;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    border: 1px solid #efac0b;
    background-color: #ffffff;
    box-shadow: 0px 0.5px 8px rgba(112, 112, 112, 0.47);
    background-color: rgba(255, 255, 255, 0.70);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
}
.breakdown-section{
    flex-basis:40%;
    max-width:50%;
}

.breakdown-section .data{
    padding: 10px;

}
.breakdown-section-row .data table *{
    text-align: center;
}
.breakdown-section i{
    margin-right: 5px;
}
.collapsed{
    display: none;
}
.group-row .data-names{
    font-style: italic;
    position: relative;
    left: 20px;
}
.group-row .data-values{

}
.revenue-raw{
    flex: 1 0 auto;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    border: 1px solid #efac0b;
    background-color: #ffffff;
    box-shadow: 0px 0.5px 8px rgba(112, 112, 112, 0.47);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f2f2f2;
    height: 100%;

}
.heading{
    text-align: center;
    margin-bottom: 5px;
    cursor:pointer;
}