.sub-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #a1160f;

}
.sub-nav > .sub-nav-item
{
    flex-grow: 1;
    border-bottom: none;
    padding: 6px;
    margin: 0px;
    text-align: center;
    cursor: pointer;

}
.sub-nav-item p{
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    margin: 0;

}
.sub-nav > .sub-nav-item.active
{
    border-bottom: thick solid #e93336;
    background-color: #e93336;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.62);
    padding-bottom: 1px;
}

.sub-nav-item a {
    text-decoration: none;
}
/*.sub-nav-item.active p{*/
    /*color: #000000;*/
/*}*/
