#wrapper {
    max-height: 95vh;
    overflow: auto;
}

#wrapper > div {
    margin-bottom: 50px;
}
.alert-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 12px;
    padding: 15px;

    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0.5px 8px rgba(112, 112, 112, 0.47);
}

.alert-box.info {
    border: 2px solid #49a1d3;
}

.alert-box.warning {
    border: 2px solid #ec7f17;
}

.alert-box.danger {
    border: 2px solid #d33e37;
}

.info * {
    color: #49a1d3;
}

.warning * {
    color: #ec7f17;
}

.danger * {
    color: #d33e37;
}
.alert-box .alert-icon {
    padding: 5px;
    flex: 0 1 auto;
}

.alert-box .alert-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 5px;
    flex: 1 0 auto;
}

.alert-main .alert-title {
    font-size: xx-large;
    margin: 0;
}

.alert-main .alert-body {
    font-size: large;
    margin: 0;
}