.admin-flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

}

.table-container {
    overflow: auto;
    flex: 1 0 auto;
}

.table-container.detail {
    max-height: 400px;
    overflow: auto;
    padding: 5px;
}

.investor-flex-container {
    background-color: transparent;
    padding: 12px;
    display: flex;;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
}

.body {
    background-color: transparent;
}
.row {
    flex-direction: row;
!important;
}

.col {
    flex-direction: column;
!important;
}

.grow {
    flex: 1 0 auto;
!important;
}

.profile-section {
    background-color: rgba(240, 240, 240, 0.35);
    flex: 0 0 auto;
}

.profile-section .body .pre-body {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-bottom: -15px;
}

.profile-section .body .main-body {
    flex: 1 0 auto;
    position: relative;
}

.main-body .form-group {
    margin-bottom: 8px;
}

.profile-section .body .post-body {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}

.pre-body {
    z-index: 10;
}

.main-body {
    padding: 5px;
}


.post-body {
    margin-left: 20px;
    padding: 5px;
}

.pre-body, .post-body * {

}

.sub-nav {
    font-size: large;
    color: #ffffff;
}

.asset-section {

    padding: 12px;
}

.asset-header {
    background-color: rgba(191, 191, 191, 0.30);
}

.asset-header .item {
    padding: 10px;
}

.item .main-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-body .form-group {
    flex: 1 0 auto;
}

.form-group.button {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.button button {
    flex: 1 0 auto;
}

.item .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
}

.main-body > * {
    margin-right: 2px;
}

.asset-body {
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.asset-body .body-container {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    flex: 1 0 auto;
}

.body-container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .field {
    flex: 1 0 auto;
    margin: 5px;
}

.header .action {
    flex: 0 1 auto;

    border-radius: 180px;
    background-color: #1dbd48;
    color: #ffffff;
    display: none;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    padding: 15px;
    height: 60px;
    width: 60px;

    text-decoration: none;
    box-shadow: 0px 0.5px 8px rgba(112, 112, 112, 0.87);
}

.action:hover {
    cursor: pointer;
}

.complete {
    color: #68d000;
}

.ongoing {
    color: gold;
}

.terminated {
    color: orangered;
}

.suspended {
    color: dodgerblue;
}

thead td {
    font-weight: bolder;
}

.select-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.select-group i {
    margin-right: 12px;
}

a {
    text-decoration: none;
    color: darkgray;

}

a:visited, a:hover {
    text-decoration: none;
}

a i {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

}

a i:hover {
    cursor: pointer;
    color: #ff4b37;
    text-decoration: none;

}

.modal-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

table.reduced td {
    #max-width: 100px;
}

.body .alert {
    text-align: center;
}